<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="headstyle.css">
  </head>



  <body>

    
    <div class="header">
      <div class="left-section">
        <!-- <h1 class="course-tag">Course</h1>
        <h1 class="guru-tag">Guru&gt;</h1> -->
        <a href="#">
          <span class="icon">
              <img class="support" src="./assets/united.png" alt="logo">
            </span>
            <!-- <span class="maintitle">Team 3</span> -->
        </a>
      </div>
      <div class="middle-section">
        <input class="search-bar" type="textbox" placeholder="Search Users ...">
        <button class="search-button">
          <img class="search-icon" src="assets/search.svg">
          <div class="tooltip">Search</div>
        </button>
      </div>
      <div class="right-section">
        <div>
          <a href="#notifications"><img src="assets/notifications.svg"><div class="tooltip">Notifications</div></a>
          
        </div>
        <div>
          <a href="#settings"><img src="assets/setting.png"><div class="tooltip">settings</div></a>
          
        </div>
      </div>
    </div>

  </body>
</html>
