<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"  href="nav-bar.css">
   
  </head>
  <body>
    <label>

      <input type="checkbox">
      <div class="toggle">
        <span class="top_line common"></span>
        <span class="mid_line common"></span>
        <span class="bottom_line common"></span>
      </div>


      <div class="slide">
        <div class="user">
          <a href="#viewprofile">
            <img class="user-img"   src="assets/ooui_user-avatar.png" >
            <div>
              <h2>Kelvin Aadil</h2>
              <p>aidilnuhu@gmail.com</p>
            </div>
          </a>
          <div class="tooltip">
            User Profile
          </div>
        </div>

          

        <div class="nav-tools">
          <ul>
            <li>
              <a class="active" href="#dashboard"><i><img src="assets/dashboard.png"></i><p>Dashboard</p></a>
              <div class="tooltip"> dashboard</div>
            </li>
            <li>
              <a href="#reports"><i><img  src="assets/reports.png"></i><p>Reports</p></a>
              <div class="tooltip"> reports </div>
              <div class="counts">4</div>
            </li>
            <li>
              <a href="#projects"><i><img  src="assets/projects.png"></i><p>Projects</p></a>
              <div class="tooltip"> projects </div>
              <div class="counts"></div>
            </li>
            <li>
              <a href="#messages"><i><img src="assets/messages.png"></i><p>Messages</p></a>
              <div class="tooltip"> messages</div>
              <div class="counts">3</div>
            </li>
            <li>
              <a href="#rewards"><i><img src="assets/rewards.png"></i><p>Rewards</p></a>
              <div class="tooltip"> rewards</div>
              <div class="counts">2</div>
            </li>
            <li>
              <a href="#members"><i><img  src="assets/members.png"></i><p>Members</p></a>
              <div class="tooltip"> members </div>
              <div class="counts">10</div>
            </li> 
  
          </ul>
        </div>
        

        <div class="logout">
          <ul>
            <li>
              <a href="#logging out"><img src="assets/logout.png"><p>Logout</p></a> 
              <div class="tooltip"> log out</div>
            </li>
          </ul>
        </div>
        
      </div>
    </label>
   
  </body>
</html>